body{
    background-color: rgb(211, 208, 127);
}

h1{
    font-size: medium;
}

.container div{
    border: 1px rgb(214, 67, 94) solid;
    padding: 2px;
}

.container{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.basic-grid{
    display: grid;
    gap:2px;
    grid-template-columns: 1fr 8fr 1fr;
    /*grid-template-columns: repeat(auto-fill,minmax(240px,2000px));*/
}

.basic-grid div{
    height: 50px;
}

.mainarea{
    background-color: aqua;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1400px));
}